.cases_main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cases_main h1{
    text-align: center;
    color: #003366;
    font-family: sans-serif;
    font-size: 47px;
 }
.mobile_cases_main h1{
    text-align: center;
    color: #003366;
    font-family: sans-serif;
    font-size: 33px;
}
 .para{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    color: #003366;
    font-family: sans-serif;
    background: linear-gradient(90deg, rgba(246, 67, 13, 0.851), rgba(255, 255, 255, 0.783));
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 1.8rem;
 }
 .cases{
     display: flex;
     gap: 30px;
     flex-wrap: wrap;
     justify-content: center;
     text-align: center;
     color: #003366;
     font-family: sans-serif;
     margin-top: 3%;
     margin-left: 5%;
     margin-right: 5%;
 }

 .mobile_cases{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: #003366;
    font-family: sans-serif;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
 }
 .ccase{
     display: flex;
     flex-direction: column;
     gap: 10px;
     justify-content: center;
     align-items: center;
     padding: 10px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     width: 70%;
 }
 .mobile_ccase{
    display: flex;
     flex-direction: column;
     gap: 10px;
     justify-content: center;
     align-items: center;
     padding: 10px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     width: 93%;
 }
 .ccase h6{
    width: 60%;
    line-height: 1.8rem;
    font-size: 14px;
  }
  .ccase p{
    font-size: 14px;
  }
 .ccase button{
     background-color: orangered;
     border: none;
     padding: 10px 25px 10px 25px;
     font-size: 16px;
     font-family: sans-serif;
     cursor: pointer;
     color: white;
 }
 
 .ccase button:hover{
     background-color: orange;
     border: none;
     padding: 10px 25px 10px 25px;
     font-size: 16px;
     font-family: sans-serif;
     cursor: pointer;
 }
 .collected {
    color: green;
 }

 .required{
    color: orange;
 }
 .deadline{
    color: red;
 }