.desktop_mission {
    margin-top: 1%;
    display: flex;
    align-items: center; /* Vertically align the content */
    justify-content: center; /* Horizontally center the content */
    width: 100%;
    gap: 20px;
    padding: 20px; /* Add padding to the container */
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
    overflow: hidden;
  }
  .mobile_mission {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically align the content */
    justify-content: center; /* Horizontally center the content */
    width: 100%;
    
    padding: 20px; /* Add padding to the container */
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
    overflow: hidden;
  }
  .column {
   
    padding: 20px; /* Add padding to the columns */
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
  }
  
  .column h1 {
    color: #003366;
    font-size: 56px;
    font-family: sans-serif;
    margin-bottom: 20px; /* Space between heading and paragraph */
  }
  
  .mobile_column h1 {
    color: #003366;
    font-size: 38px;
    font-family: sans-serif;
   line-height: 1rem;
  }
  .column p {
    height: auto;
    font-family: sans-serif;
    text-align: justify; /* Justify the text */
    line-height: 1.6; /* Increase line height for better readability */
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7)), url(../public/images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
  width: 90%;
    color: #003366;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .mobile_column p{
  
      height: auto;
      font-family: sans-serif;
      text-align: justify; /* Justify the text */
      line-height: 1.4; /* Increase line height for better readability */
      background: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7)), url(../public/images/logo.png);
      background-position: center;
      background-repeat: no-repeat;
    width: 100%;
      color: #003366;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
  }
  /* Vertical line styling */
  .line {
    width: 3px;
    background-color: #FFD700;
    height: 250px/* Make it stretch vertically */
   
  }
  