.navParent{
    background-color: white;
    width: 100%;
    padding: 10px;
}
.nav{
  color: #003366;
  font-family: sans-serif;
}
.nav h1{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
.nav h3{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2px;
    font-weight: 500;
}
.navigation{
  
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    
}
.navButton{
    color: #003366;
    background-color: rgb(234, 234, 234);
    border: none;
    border-radius: 3px;
    padding: 5px;
    font-family: sans-serif;
    margin-right: 10px;
   text-align: center;
   margin-top: 10px;
   cursor: pointer;
}